@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-crypto: "Orbitron", sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #1a1a1a;
}